- comments.each do |comment|
  .comments-show
    .comment
      %p.username
        = comment.user.user_name + " on " + comment.created_at.to_time.strftime('%B %e at %l:%M %p')
      %p
        = comment.body
        %br/
      - if signed_in?
        .comment-nav
          %a.comment-reply{:href => "#"} reply
        .reply-form
          = form_for @new_comment do |f|
            = f.hidden_field :commentable_id, value: @new_comment.commentable_id
            = f.hidden_field :commentable_type, value: @new_comment.commentable_type
            = f.hidden_field :comment_id, value: comment.id
            .field.form-group
              = f.text_area :body, class: 'form-control'
            .field.form-group          
              = submit_tag "Post Reply", class: 'btn btn-primary'
    = render partial: "comments/reply", locals: {comments: comment.children}
