.form-wrapper
  = simple_form_for @post, html: {class: 'form-horizontal', multipart: true}do |f|
    .row
      .col-md-12.text-center
        = f.error_notification
    .container-fluid
      .form-group.text-center
        %h4 Upload an image:
        = f.input :image, label: false, input_html: { onChange: 'loadFile(event)' }, hint: "Make sure Pic is less than 2mb!"        
        = f.input :caption    
        = f.button :submit, class: "btn-success btn-block"